.impression-section {
  width: 100%;
  font-family: $source-sans;

  &__background {
    background-image: url("../img/back.jpg");
    background-position: center;
    background-size: cover;
    padding: 70px 0 80px;
  }

  &__items {
    width: 80%;
    margin: 0 auto;
    display: flex;
  }

  &__text-block {
    width: 50%;
  }

  &__text-item {
    color: $gray;
    text-transform: uppercase;
    filter: none;

    &--title {
      padding-bottom: 2rem;
      color: $btn-color-white;
      font-size: 2rem;
      letter-spacing: 0.2rem;
      filter: brightness(100%) grayscale(0);
    }

    &--description {
      padding: 2rem 0;
      font-size: 1.6rem;
      text-transform: none;

      hyphens: auto;
      word-break: break-all;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
    }

    &--author {
      padding: 1rem 0;
      font-size: 1.4rem;
      font-weight: bold;
    }

    &--position {
      font-size: 1.4rem;
    }

    &--green {
      color: $green-color;
    }
  }

  &__video-block {
    position: relative;
    width: 50%;
  }

  &__video-background {
    position: absolute;
    top: -105px;
    right: 0;
    width: 363px;
    height: 288px;
    text-align: center;
    background-image: url(../img/monitor.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__container-video {
    border: solid transparent 1px;
    border-radius: 9px 9px 0 0;
    position: absolute;
    top: 6px;
    right: 0px;
    bottom: 0;
    left: 4px;
    width: 97%;
    overflow: hidden;
  }

  &__video {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 204px;
  }
}

@media screen and (max-width: 950px) {
  .impression-section {
    &__items {
      flex-direction: column;
    }

    &__text-block {
      width: 100%;
    }

    &__video-block {
      position: relative;
      width: 100%;
      height: 271px;
    }

    &__video-background {
      position: relative;
      top: 32px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media screen and (max-width: 470px) {
  .impression-section__text-item {
    font-size: 1.3rem;
  }
}
