.question {
  text-align: center;
  background-image: url('../img/loved_us.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6rem 10rem;
  font-family: $open-sans;

  @media (min-width:768px) and (max-width: 1199px) {
    padding: 5rem 0;
  }

  @media (max-width: 767px) {
    padding: 5rem 0;

  }



  &__text {
    color: #fff;
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}