@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Source+Sans+Pro");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

@font-face {
  font-family: "big-john";
  src: url("fonts/big-john.otf");
}

.icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #81868e;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}

.icon:hover {
  cursor: pointer;
  background-color: #19bd9a;
}

.icon--heart {
  background-image: url("../img/heart.png");
}

.icon--mouse {
  background-image: url("../img/mouse.png");
  background-position: center 40%;
}

.icon--lamp {
  background-image: url("../img/lamp.png");
}

.icon--settings {
  background-image: url("../img/settings.png");
}

.icon--roller {
  background-image: url("../img/roller.png");
}

.icon--gamepad {
  background-image: url("../img/gamepad.png");
  background-position: center 40%;
}

.icon--socket {
  background-image: url("../img/socket.png");
  background-position: 60% center;
}

.btn {
  display: inline-block;
  padding: 0 2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 3.2rem;
  text-decoration: none;
  border-radius: 2rem;
  background-size: 0 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: all 0.5s;
}

.btn:hover {
  background-size: 100% 100%;
}

.btn--light {
  color: #ffffff;
  background-image: linear-gradient(#ffffff, #ffffff);
  border: 1px solid #ffffff;
}

.btn--light:hover {
  color: #333b46;
  background-color: #ffffff;
}

.btn--dark {
  color: #333b46;
  background-image: linear-gradient(#333b46, #333b46);
  border: 1px solid #333b46;
}

.btn--dark:hover {
  color: #ffffff;
  background-color: #333b46;
}

.impression-section {
  position: relative;
  display: flex;
  width: 100%;
  height: 43rem;
  align-items: flex-end;
  font-family: "Source Sans Pro", sans-serif;
}

.impression-section__background {
  width: 100%;
  height: 100%;
  max-height: 39.2rem;
  background-image: url("../img/back.jpg");
  background-position: center;
  filter: grayscale(100%) brightness(20%);
}

.impression-section__items {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 39.2rem;
  padding: 0 4rem;
}

.impression-section__text-block {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  padding: 10rem 0;
}

.impression-section__text-item {
  color: #81868e;
  text-transform: uppercase;
  filter: none;
}

.impression-section__text-item--title {
  padding-bottom: 2rem;
  color: #ffffff;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  filter: brightness(100%) grayscale(0);
}

.impression-section__text-item--description {
  padding: 2rem 0;
  font-size: 1.6rem;
  text-transform: none;
}

.impression-section__text-item--author {
  padding: 1rem 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.impression-section__text-item--position {
  font-size: 1.4rem;
}

.impression-section__text-item--green {
  color: #19bd9a;
}

.impression-section__video-block {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 50%;
  height: 100%;
}

.impression-section__video-background {
  position: absolute;
  top: -3.8rem;
  width: 100%;
  right: 0;
  height: 33.3rem;
  max-height: 100%;
  max-width: 41rem;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/monitor.png");
}

.impression-section__video {
  width: 100%;
  height: 100%;
  max-width: 37.5rem;
  max-height: 23rem;
}
