@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Source+Sans+Pro");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  min-width: 360px;
  font-family: "big-john", Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "big-john";
  src: url("fonts/big-john.otf");
}

@font-face {
  font-family: "big-john";
  src: url("fonts/big-john.otf");
}

.icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #81868e;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.icon:hover {
  cursor: pointer;
  background-color: #19bd9a;
}

.icon--heart {
  background-image: url("../img/heart.png");
}

.icon--mouse {
  background-image: url("../img/mouse.png");
  background-position: center 40%;
}

.icon--lamp {
  background-image: url("../img/lamp.png");
}

.icon--settings {
  background-image: url("../img/settings.png");
}

.icon--roller {
  background-image: url("../img/roller.png");
}

.icon--gamepad {
  background-image: url("../img/gamepad.png");
  background-position: center 40%;
}

.icon--socket {
  background-image: url("../img/socket.png");
  background-position: 60% center;
}

.btn {
  display: inline-block;
  padding: 0 2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 3.2rem;
  text-decoration: none;
  border-radius: 2rem;
  background-size: 0 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: all 0.5s;
}

.btn:hover {
  background-size: 100% 100%;
}

.btn--light {
  color: #ffffff;
  background-image: linear-gradient(#ffffff, #ffffff);
  border: 1px solid #ffffff;
}

.btn--light:hover {
  color: #333b46;
  background-color: #ffffff;
}

.btn--dark {
  color: #333b46;
  background-image: linear-gradient(#333b46, #333b46);
  border: 1px solid #333b46;
}

.btn--dark:hover {
  color: #ffffff;
  background-color: #333b46;
}

.impression-section {
  position: relative;
  display: flex;
  width: 100%;
  height: 39.2rem;
  align-items: flex-end;
  font-family: "Source Sans Pro", sans-serif;
}

.impression-section__background {
  width: 100%;
  height: 100%;
  background-image: url("../img/back.jpg");
  background-position: center;
  background-size: cover;
  filter: grayscale(100%) brightness(20%);
}

.impression-section__items {
  position: absolute;
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.impression-section__text-block {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  padding: 10rem 0;
}

.impression-section__text-item {
  color: #81868e;
  text-transform: uppercase;
  filter: none;
}

.impression-section__text-item--title {
  padding-bottom: 2rem;
  color: #ffffff;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  filter: brightness(100%) grayscale(0);
}

.impression-section__text-item--description {
  padding: 2rem 0;
  font-size: 1.6rem;
  text-transform: none;
  hyphens: auto;
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

.impression-section__text-item--author {
  padding: 1rem 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.impression-section__text-item--position {
  font-size: 1.4rem;
}

.impression-section__text-item--green {
  color: #19bd9a;
}

.impression-section__video-block {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 50%;
  height: 100%;
}

.impression-section__video-background {
  position: absolute;
  top: -3.8rem;
  width: 100%;
  right: 0;
  height: 33.3rem;
  max-height: 100%;
  max-width: 41rem;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/monitor.png");
}

.impression-section__video {
  width: 100%;
  height: 100%;
  max-width: 37.5rem;
  max-height: 23rem;
}

@media screen and (max-width: 860px) {
  .impression-section__video {
    opacity: 0;
  }
}

@media screen and (max-width: 470px) {
  .impression-section__text-item {
    font-size: 1.3rem;
  }
}

.slider {
  margin: 0 auto;
  width: 80%;
}

.slider__viewer {
  padding: 6rem 0;
  height: 550px;
  overflow: hidden;
  position: relative;
}

.slider__viewer--group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: #fff;
}

.slide:first-child {
  display: block;
}

.slide-buttons {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
  text-align: center;
}

a.slide_btn {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 1px solid #19bd9a;
  border-radius: 50%;
  margin: 0 1rem;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  background-color: #19bd9a;
  cursor: pointer;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
}

.team--box {
  text-align: center;
}

.team__heading {
  margin-bottom: 3rem;
  font-size: 3rem;
}

.team__slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.team__img-box {
  width: auto;
  height: 85%;
  overflow: hidden;
}

.team__photo {
  width: auto;
  height: 100%;
}

.team__rate {
  color: #81868e;
  text-align: right;
}

.team__rate--box {
  width: 30%;
}

.team__rate--name {
  font-size: 2.5rem;
  font-weight: 100;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.team__rate--position {
  font-size: 1.5rem;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.team__rate--description {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  text-align: right;
}

.team__rate--progress {
  font-size: 1.5rem;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.team__rate--skills {
  text-align: left;
}

.progress {
  margin-bottom: 1rem;
  font-size: .4rem;
  width: 100%;
}

.progress[value]::-webkit-progress-bar, .progress[value]::-moz-progress-bar {
  background-color: #81868e;
  border-radius: 2px;
}

.progress[value]::-webkit-progress-value, .progress[value]::-moz-progress-value {
  background-color: #19bd9a;
  border-radius: 2px;
}

.progress__stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-title {
  width: 463px;
  max-width: 100%;
  text-align: center;
}

.section-title__title {
  color: #464646;
  font: 2rem "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.section-title__paragraph {
  color: #81868e;
  font: 1.4rem "Open Sans", sans-serif;
  margin-top: 40px;
  letter-spacing: 0.1rem;
}

.section-title__paragraph--light {
  color: #ffffff;
}

.our-services {
  background: #f3f3f3;
}

.our-services__container {
  padding: 81px 0 135px;
  width: 80%;
  margin: 0 auto;
}

.our-services__services-title {
  margin: 0 auto;
}

.our-services__column {
  display: flex;
}

.our-services__switches {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 44px;
}

.our-services__hidden {
  position: absolute;
  bottom: 9999px;
  visibility: hidden;
}

.our-services__hidden--first:checked ~ .our-services__column
.our-services__switches
.our-services__switcher--first {
  cursor: pointer;
  background-color: #19bd9a;
}

.our-services__hidden--first:checked ~ .our-services__vector-container .our-services__circle--first {
  stroke-dasharray: 304px 380px;
}

.our-services__hidden--first:checked ~ .our-services__vector-container .our-services__circle--second {
  stroke-dasharray: 185px 380px;
}

.our-services__hidden--first:checked ~ .our-services__vector-container .our-services__circle--third {
  stroke-dasharray: 328px 380px;
}

.our-services__hidden--second:checked ~ .our-services__column
.our-services__switches
.our-services__switcher--second {
  cursor: pointer;
  background-color: #19bd9a;
}

.our-services__hidden--second:checked ~ .our-services__vector-container .our-services__circle {
  stroke: #ffff00;
}

.our-services__hidden--second:checked ~ .our-services__vector-container .our-services__circle--first {
  stroke-dasharray: 104px 380px;
}

.our-services__hidden--second:checked ~ .our-services__vector-container .our-services__circle--second {
  stroke-dasharray: 225px 380px;
}

.our-services__hidden--second:checked ~ .our-services__vector-container .our-services__circle--third {
  stroke-dasharray: 128px 380px;
}

.our-services__hidden--third:checked ~ .our-services__column
.our-services__switches
.our-services__switcher--third {
  cursor: pointer;
  background-color: #19bd9a;
}

.our-services__hidden--third:checked ~ .our-services__vector-container .our-services__circle {
  stroke: #00ff00;
}

.our-services__hidden--third:checked ~ .our-services__vector-container .our-services__circle--first {
  stroke-dasharray: 204px 380px;
}

.our-services__hidden--third:checked ~ .our-services__vector-container .our-services__circle--second {
  stroke-dasharray: 35px 380px;
}

.our-services__hidden--third:checked ~ .our-services__vector-container .our-services__circle--third {
  stroke-dasharray: 50px 380px;
}

.our-services__hidden--fourth:checked ~ .our-services__column
.our-services__switches
.our-services__switcher--fourth {
  cursor: pointer;
  background-color: #19bd9a;
}

.our-services__hidden--fourth:checked ~ .our-services__vector-container .our-services__circle {
  stroke: #ff3399;
}

.our-services__hidden--fourth:checked ~ .our-services__vector-container .our-services__circle--first {
  stroke-dasharray: 154px 380px;
}

.our-services__hidden--fourth:checked ~ .our-services__vector-container .our-services__circle--second {
  stroke-dasharray: 135px 380px;
}

.our-services__hidden--fourth:checked ~ .our-services__vector-container .our-services__circle--third {
  stroke-dasharray: 358px 380px;
}

.our-services__switcher {
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

.our-services__column-text {
  width: 406px;
  max-width: 100%;
}

.our-services__title {
  color: #464646;
  font: 2rem "Source Sans Pro", sans-serif;
  letter-spacing: 0.2rem;
}

.our-services__paragraph {
  color: #81868e;
  font: 1.5rem "Open Sans", sans-serif;
  margin-top: 40px;
  letter-spacing: 0.1rem;
}

.our-services__paragraph--green {
  color: #19bd9a;
  font-weight: bold;
}

.our-services__paragraph--gray {
  color: #464646;
  font-weight: bold;
}

.our-services__content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.our-services__vector-container {
  padding-top: 50px;
  display: flex;
  text-align: center;
}

.our-services__vector-box {
  margin-right: 30px;
}

.our-services__vector-box:last-child {
  margin-right: 0px;
}

.our-services__vector {
  width: 121px;
  height: 121px;
}

.our-services__small-circle {
  stroke: #0f797e;
  stroke-width: 4;
  fill: transparent;
}

.our-services__circle {
  stroke-dashoffset: -90px;
  stroke: #19bd9a;
  stroke-width: 6;
  stroke-linecap: round;
  fill: transparent;
  transition: 1s;
}

.our-services__circle--first {
  stroke-dasharray: 304px 380px;
}

.our-services__circle--second {
  stroke-dasharray: 285px 380px;
}

.our-services__circle--third {
  stroke-dasharray: 228px 380px;
}

.our-services__numb {
  fill: #81868e;
  font: 2rem "Open Sans", sans-serif;
}

.our-services__numb--percentage {
  font-size: 1.4rem;
}

.our-services__branding {
  color: #81868e;
  font: 1.6rem "Roboto", sans-serif;
  font-weight: lighter;
}

@media screen and (max-width: 1000px) {
  .our-services__vector-container {
    padding-top: 0;
    flex-direction: column;
  }
  .our-services__vector {
    width: 90px;
    height: 90px;
  }
  .our-services__vector-box {
    margin: 0;
  }
}

@media screen and (max-width: 670px) {
  .our-services__content {
    flex-direction: column;
  }
  .our-services__column {
    flex-direction: column;
  }
  .our-services__switches {
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .our-services__vector-container {
    padding-top: 15px;
    flex-direction: row;
    justify-content: center;
  }
  .our-services__vector-box {
    margin: 15px;
  }
  .our-services__vector-box:last-child {
    margin-right: 0px;
  }
}

@media screen and (max-width: 380px) {
  .our-services__column {
    flex-direction: column;
  }
  .our-services__switches {
    flex-direction: row;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .our-services__vector {
    width: 65px;
    height: 65px;
  }
  .our-services__vector-box {
    margin: 5px;
  }
  .our-services__vector-box:last-child {
    margin-right: 0px;
  }
}

.portfolio {
  background: #f3f3f3;
  padding: 80px 0 101px;
}

.portfolio__container {
  background: #f3f3f3;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.portfolio__title {
  margin: 0 auto;
}

.portfolio__list {
  margin-top: 80px;
}

.portfolio__item {
  display: inline-block;
  margin-right: 2rem;
}

.portfolio__item:last-child {
  margin-right: 0;
}

.portfolio__link {
  color: #464646;
  font: 1.6rem "Open Sans", sans-serif;
  text-decoration: none;
}

.portfolio__link:after {
  content: "";
  display: block;
  width: 0%;
  margin: 15px auto 0;
  border-bottom: transparent 2px solid;
  transition: 0.2s;
}

.portfolio__link:hover:after {
  border-bottom: #19bd9a 2px solid;
  width: 60%;
}

.portfolio__gallery {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.portfolio__column {
  max-width: 100%;
  overflow: hidden;
  margin-right: 10px;
}

.portfolio__column:last-child {
  margin-right: 0;
}

.portfolio__column-container {
  display: flex;
  margin-right: 10px;
}

.portfolio__column-container right:last-child {
  margin-right: 0;
}

.portfolio__picture-box {
  margin-bottom: 10px;
  position: relative;
}

.portfolio__picture-box:last-child {
  margin-bottom: 0;
}

.portfolio__picture {
  display: block;
  width: 1000px;
  max-width: 100%;
}

.portfolio__gallery-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
}

.portfolio__gallery-content:hover {
  background: rgba(0, 0, 0, 0.8);
}

.portfolio__gallery-content:hover > .portfolio__gallery-central-container {
  left: 50%;
}

.portfolio__gallery-central-container {
  padding-top: 10px;
  height: 19rem;
  width: 80%;
  overflow: hidden;
  position: relative;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: -50%;
  transition: all 0.2s;
}

.portfolio__gallery-title {
  font: 2rem "Source Sans Pro", sans-serif;
  color: #19bd9a;
  text-transform: uppercase;
}

.portfolio__gallery-title:after {
  content: "";
  display: block;
  width: 20%;
  margin: 10% 0 0;
  border-bottom: #19bd9a 2px solid;
}

.portfolio__gallery-paragraph {
  margin: 10% 0 0;
  font: 1.2rem "Open Sans", sans-serif;
  color: #ffffff;
}

.portfolio__gallery-link {
  margin: 10% 0 0;
  text-decoration: none;
  border: 1px solid #000000;
  background: #000000;
  display: inline-block;
  width: 2.2rem;
  border-radius: 50%;
  padding: 0.5rem 0.5rem 0.3rem 0.5rem;
}

.portfolio__gallery-link:hover > .portfolio__gallery-icon {
  fill: #81868e;
}

.portfolio__gallery-icon {
  fill: #ffffff;
  transition: all 0.5s;
  width: 1rem;
  height: 1rem;
}

.portfolio__bottom-block {
  margin-top: 40px;
  background: url(img/t-shirt.jpg) center no-repeat;
  background-size: cover;
}

.portfolio__bottom-block-mask {
  background: rgba(0, 204, 153, 0.8);
  padding: 58px 0 57px;
}

.portfolio__bottom-block-paragraph {
  font: 2rem "Open Sans", sans-serif;
  color: #ffffff;
  letter-spacing: 2px;
}

.portfolio__bottom-block-paragraph--select {
  font-weight: bold;
}

.portfolio__bottom-block-btn {
  margin-top: 34px;
}

@media screen and (max-width: 1140px) {
  .portfolio__container {
    width: 90%;
  }
  .portfolio__item {
    margin-top: 10px;
  }
  .portfolio__gallery {
    flex-wrap: wrap;
  }
  .portfolio__gallery-central-container {
    height: 20rem;
  }
  .portfolio__column-container {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 580px) {
  .portfolio__gallery-central-container {
    height: 25rem;
  }
  .portfolio__column {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .portfolio__column-container {
    margin: 0px;
    flex-wrap: wrap;
  }
}

.page-header {
  padding: 40px 100px 75px;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header__logo {
  flex-basis: 0;
  flex-grow: 1;
}

.page-header__home-link {
  font-family: "big-john", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.page-header__main-nav {
  flex-basis: 0;
  flex-grow: 1;
}

.page-header__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.page-header__link {
  display: inline-block;
  padding: 0 2rem;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 3rem;
  border-radius: 20px;
  border: 1px solid transparent;
  transition: all 0.5s;
}

.page-header__link:hover {
  border-color: #ffffff;
}

.page-header__text-block {
  text-align: center;
  margin: 22rem 0;
  color: white;
}

.page-header__title {
  margin-bottom: 4rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-size: 3.5rem;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
}

.page-header__description {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.page-header__slide-bottom {
  position: relative;
  display: block;
  margin: auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #81868e;
  transition: all 0.5s;
}

.page-header__slide-bottom:hover {
  background-color: #19bd9a;
  transform: scale(1.3);
}

.page-header__slide-bottom::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  border-bottom-color: #ffffff;
  border-right-color: #ffffff;
  transform-origin: 50%;
  transform: translate(-50%, -70%) rotate(45deg);
}

@media screen and (max-width: 966px) {
  .page-header__logo {
    margin-bottom: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 860px) {
  .page-header__top {
    flex-direction: column;
  }
  .page-header__logo {
    margin-bottom: 2rem;
  }
  .page-header__home-link {
    font-size: 4rem;
  }
  .page-header__list {
    flex-direction: column;
    align-items: center;
  }
  .page-header__link {
    font-size: 3rem;
    line-height: 4rem;
  }
  .page-header__text-block {
    margin: 6rem 0;
  }
}

.our-price {
  background: #f3f3f3;
}

.our-price__container {
  width: 80%;
  margin: 0 auto;
  padding: 80px 0 100px;
}

.our-price__price-title {
  margin: 0 auto;
}

.our-price__price-list {
  margin: 0 auto;
  margin-top: 60px;
  width: 833px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.our-price__premium {
  width: 235px;
  max-width: 100%;
  text-align: center;
  position: relative;
  background: #ffffff;
}

.our-price__premium:hover > .our-price__premium-curtain {
  bottom: 0%;
  background: #ffffff;
}

.our-price__premium:hover > .our-price__premium-curtain .our-price__curtain-link {
  background: #19bd9a;
  color: #ffffff;
}

.our-price__premium:hover > .our-price__premium-curtain .our-price__list-item {
  color: #81868e;
}

.our-price__premium-head {
  background: #19bd9a;
  color: #ffffff;
  padding: 20px 0;
  font: bold 2rem "Open Sans", sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.our-price__amount {
  margin-top: 67px;
  font: bold 4rem "Source Sans Pro", sans-serif;
  color: #19bd9a;
}

.our-price__amount-title {
  color: #81868e;
  font: 2rem "Open Sans", sans-serif;
  letter-spacing: 0.1rem;
  padding-bottom: 60px;
}

.our-price__premium-curtain {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  background: transparent;
  transition: 0.8s;
  text-align: left;
}

.our-price__list {
  width: 172px;
  max-width: 100%;
  margin: 0 auto;
}

.our-price__list-item {
  list-style-type: none;
  color: transparent;
  font: 1.4rem "Open Sans", sans-serif;
  margin-top: 13px;
  letter-spacing: 0.1rem;
}

.our-price__curtain-link {
  display: block;
  background: transparent;
  color: transparent;
  padding: 20px 0;
  font: bold 2rem "Open Sans", sans-serif;
  letter-spacing: 0.1rem;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  transition: 0.3s;
}

.our-price__curtain-link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 918px) {
  .our-price__premium {
    margin-right: 10px;
  }
  .our-price__premium:last-child {
    margin-right: 0px;
  }
}

@media screen and (max-width: 675px) {
  .our-price__price-list {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }
  .our-price__premium {
    width: 80%;
    margin-right: 0px;
    margin-top: 20px;
  }
  .our-price__premium:first-child {
    margin-top: 0px;
  }
}

.form {
  width: 80%;
  padding: 8rem 0;
  margin: auto;
  background-color: #ffffff;
  font: 1.4rem "Open Sans", sans-serif;
  color: #81868e;
}

.form__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.form__item {
  position: relative;
  display: inline-block;
  max-width: 28.5rem;
  width: 100%;
}

.form__textarea {
  width: 100%;
  height: 19rem;
  padding: 2rem;
  border: 1px solid #f3f3f3;
  font-size: inherit;
  color: #81868e;
  resize: none;
}

.form__input {
  display: inline-block;
  height: 4rem;
  width: 100%;
  padding-left: 2rem;
  border: 1px solid #f3f3f3;
  font-size: inherit;
  color: #81868e;
}

.form__input:valid + .form__label {
  padding: 0;
  transform: translateY(-2.3rem) scale(0.75, 0.75);
  opacity: .8;
}

.form__label {
  position: absolute;
  top: 0;
  padding: 1rem 2rem;
  transform-origin: left center;
  opacity: .3;
  transition: .4s;
  pointer-events: none;
}

.form__btn {
  width: 100%;
  height: 7rem;
  border: none;
  font-weight: normal;
  cursor: pointer;
}

@media screen and (max-width: 1125px) {
  .form__item {
    max-width: 100%;
    margin-bottom: 3rem;
  }
}

.page-footer {
  width: 100%;
  padding: 8rem 0;
  text-align: center;
  background-color: #ffffff;
}

.page-footer__title {
  color: #464646;
}

.page-footer__copyright {
  margin: 2.5rem;
}

.fa {
  padding-top: 0.5rem;
  font-size: 1.4rem;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  margin: 0.25rem;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
}

.fa-twitter {
  background: #55ACEE;
}

.fa-linkedin {
  background: #007bb5;
}

.fa-instagram {
  background: #3f729b;
}

.fa-vimeo {
  background: #86c9ef;
}

.map {
  position: relative;
}

.map__title {
  display: inline-block;
  color: #ffffff;
  font: 1.6rem "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.map__title:after {
  content: "";
  display: inline-block;
  background: url(img/arrow-down.png);
  width: 18px;
  height: 18px;
  position: relative;
  top: 3px;
  left: 18px;
}

.map:before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0%;
  right: 0;
  bottom: 50%;
  left: 0;
  transition: 0.3s;
}

.map:after {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

.map:hover > .map__title {
  visibility: hidden;
}

.map:hover:before {
  bottom: 100%;
}

.map:hover:after {
  top: 100%;
}

.map__card {
  width: 100%;
  height: 496px;
}
