.btn {
  display: inline-block;
  padding: 0 20px;
  font-family: $open-sans;
  font-size: 15px;
  line-height: 32px;
  text-decoration: none;
  border-radius: 20px;
  background-size: 0 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: all 0.5s;

  &:hover {
    background-size: 100% 100%;
  }

  &--light {
    color: $btn-color-white;
    background-image: linear-gradient($btn-color-white, $btn-color-white);
    border: 1px solid $btn-color-white;

    &:hover {
      color: $btn-color-gray;
      background-color: $btn-color-white;
    }
  }

  &--dark {
    color: $btn-color-gray;
    background-image: linear-gradient($btn-color-gray, $btn-color-gray);
    border: 1px solid $btn-color-gray;

    &:hover {
      color: $btn-color-white;
      background-color: $btn-color-gray;
    }
  }
}