.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $open-sans;
  color: $gray;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 5rem 0 10rem;

  @media (min-width:768px) and (max-width: 1199px) {
    & {
      font-size: 1.1rem;
      line-height: 1;
    }
  }

  @media (min-width:300px) and (max-width: 767px) {
    & {
      line-height: 1;
    }
  }



  &__slider {
    display: flex;
    height: 35rem;
    width: 100%;
    background: #fff;
    margin: auto;

    @media (min-width:768px) and (max-width: 1199px) {
      & {
        height: 30rem;
      }
    }

    @media (min-width:300px) and (max-width: 767px) {
      & {
        height: 45rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
      }
    }
  }

  &__person {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin: auto;

    @media (min-width:768px) and (max-width: 1199px) {
      & {
        width: 12rem;
        height: 12rem;
    
      }
    }

    @media (min-width:300px) and (max-width: 767px) {
      & {
        display: none;
      }
    }


    &--nick {
      background-image: url('../img/comment.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &--fury {
      background-image: url('../img/fury.jpg');
      background-repeat: no-repeat;
      background-position-x: 35%;
      background-size: cover;
    }
  }

  &__text-box {
    width: 70%;
    margin: auto;

    &--comment {
      width: 90%;
      margin-bottom: 2rem;
      line-height: 2;
    }

    &--name {
      width: 90%;
      text-transform: uppercase;
      color: $green-color;
      font-weight: 700;

      @media (min-width:300px) and (max-width: 767px) {
        & {
          margin-bottom: 2rem;
        }
      }
  
    }

    &--position {
      width: 90%;
      text-transform: uppercase;
    }

    @media (min-width:768px) and (max-width: 1199px) {
      & {
        width: 80%;

      }
    }

    @media (min-width:300px) and (max-width: 767px) {
      & {
        display: flex;
        flex-direction: column-reverse;
        align-self: flex-start;
        width: 95%;
        text-align: center;

      }
    }

  }
}