.green-block {
  background: url(img/t-shirt.jpg) center no-repeat;
  background-size: cover;

  &__mask {
    background: $dark-blue;
    padding: 58px 0 57px;
  }

  &__paragraph {
    font: 2rem $open-sans;
    color: $btn-color-white;
    letter-spacing: 2px;

    &--select {
      font-weight: bold;
    }
  }
}
