.impression-section {
  display: flex;
  height: 43rem;
  width: 100%;
  align-items: flex-end;
  position: relative;

  &__background {
    width: 100%;
    height: 100%;
    max-height: 39.2rem;
    background-image: url("../img/back.jpg");
    background-position: center;
    filter: grayscale(100%) brightness(20%);
  }

  &__items {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 39.2rem;
    padding: 0 4rem;

    &__text-block {
      display: inline-block;
      width: 49%;
      vertical-align: top;
      padding: 10rem 0;

      &__text-item {
        color: $dark-gray;
        filter: none;

        &--title {
          font-size: 2rem;
          color: $btn-color-white;
          filter: brightness(100%) grayscale(0);
        }

        &--description {
          font-size: 1.6rem;
        }

        &--author {
          font-size: 1.4rem;
        }

        &--position {
          font-size: 1.4rem;
        }
      }
    }

    &__video-block {
      display: inline-block;
      width: 50%;
      height: 100%;
      position: relative;
      vertical-align: top;

      &__background {
        position: absolute;
        top: -3.8rem;
        width: 100%;
        right: 0;
        height: 33.3rem;
        max-height: 100%;
        max-width: 41rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../img/monitor.png");
        text-align: center;
      }

      &__video {
        //position: absolute;
        //left: 0;
        //top: 0;
        max-width: 37.5rem;
        max-height: 23rem;
        width: 100%;
        height: 100%;
      }
    }
  }
}