
@for $i from 0 through 100 {
  .progress progress[value="#{$i}"]
  {
    & + .progress-value:before { content : '#{$i}%' }
    & ~ .progress-bg .progress-bar { width: $i * 1% }
  }
}

.progress {
  position: relative;
  overflow: hidden;
  progress
  {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    left: -777px;
  }
}

.progress-value {
  position: absolute;
  top: 0;
  right: 0;
  color: $gray;
  display: block;
  line-height: 21px;
  text-align: right;
}

.progress-bg {
  background: $light-gray;
  position: relative;
  height: 5px;
  border-radius: 1px;
  overflow: hidden;
}

@-webkit-keyframes progress_bar {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -40px 0;
  }
}
@-moz-keyframes progress_bar {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -40px 0;
  }
}
@keyframes progress_bar {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -40px 0;
  }
}

.progress-bar {
  overflow: hidden;
  background: $green-color;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
    width: 0;
  -webkit-transition: width 1s linear;
  -moz-transition: width 1s linear;
  -ms-transition: width 1s linear;
  transition: width 1s linear;    
  &:after
  {
  -webkit-animation: progress_bar 0.8s linear infinite;
  -moz-animation: progress_bar 0.8s linear infinite;
  -ms-animation: progress_bar 0.8s linear infinite;
  -o-animation: progress_bar 0.8s linear infinite;
  animation: progress_bar 0.8s linear infinite;      
      
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
