* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px; //1 rem = 10px
<<<<<<< HEAD
  font-family: "big-john", Arial, Helvetica, sans-serif;
  min-width: 360px;
=======
  min-width: 360px;
  font-family: "big-john", Arial, Helvetica, sans-serif;
>>>>>>> 8044f51b3a684499c76b440ac4f15730c604c899
}