.section-title {
  width: 463px;
  max-width: 100%;
  text-align: center;

  @media (min-width:300px) and (max-width: 767px) {
    width: 95%;
  }


  &__title {
    color: $dark-gray;
    font: 2rem $source-sans;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

    &--light {
      color: $btn-color-white;
    }
  }

  &__paragraph {
    color: $gray;
    font: 1.4rem $open-sans;
    margin-top: 40px;
    letter-spacing: 0.1rem;
  }
}
