.slider {
  width: 80%;
  position: relative;

  &--comments {
    width: 90%;
    padding: 5rem 0;
  }

  @media (min-width:300px) and (max-width: 767px) {
    .slider {
      display: flex;
      flex-direction: column;
    }
  }

  &__radio {
    display: none;

    &--1 {
      &:checked ~ .slider-box-team--one {
        display: block;
      }

      &:checked ~ .slider__labels .slider__labels-item--first::after {
        background: $green-color;
      }
    }

    &--2 {
      &:checked ~ .slider-box-team--two {
        display: block;
      }

      &:checked ~ .slider__labels .slider__labels-item--second::after {
        background-color: $green-color;
      }
    }

    &--3 {
      &:checked ~ .slider-box-team--three {
        display: block;
      }

      &:checked ~ .slider__labels .slider__labels-item--third::after {
        background: $green-color;
      }
    }

    &-comments {
      display: none;

      &--1 {
        &:checked ~ .slider-box-comment--one {
          display: block;
        }
  
        &:checked ~ .slider__labels-comment .slider__labels-comment-item--first::after {
          background: $green-color;
        }
      }
  
      &--2 {
        &:checked ~ .slider-box-comment--two {
          display: block;
        }
  
        &:checked ~ .slider__labels-comment .slider__labels-comment-item--second::after {
          background-color: $green-color;
        }
      }
  
      &--3 {
        &:checked ~ .slider-box-comment--three {
          display: block;
        }
  
        &:checked ~ .slider__labels-comment .slider__labels-comment-item--third::after {
          background: $green-color;
        }
      }
    }
  }
}

.slider__labels {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  @media (min-width:768px) and (max-width: 1199px) {
    & {
      bottom: 8%;
    }
  }

  @media (min-width:1200px) and (max-width: 1800) {
    & {
      bottom: 10%;
    }
  }

  &-item::after {
    content: "";
    display: inline-block;
    margin: 0 1rem;
    width: .8rem;
    height: .8rem;
    border: 1px solid $green-color;
    border-radius: 50%;
    cursor: pointer;

    @media (min-width:768px) and (max-width: 1199px) {
      & {
        width: 1rem;
        height: 1rem;
    
      }
    }
  
    @media (min-width:1200px) and (max-width: 1800) {
      & {
        width: 2.3rem;
        height: 2.3rem;
        border: 2px solid $green-color;
    
      }
    }
  }
}

.slider__labels-comment {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;


  @media (min-width:250px) and (max-width: 767px) {
    & {
      bottom: -15%;
    }
  }

  @media (min-width:768px) and (max-width: 1199px) {
    & {
      bottom: 18%;
    }
  }

  @media (min-width:1200px) and (max-width: 1800) {
    & {
      bottom: 10%;
    }
  }

  &-item::after {
    content: "";
    display: inline-block;
    margin: 0 1rem;
    width: .8rem;
    height: .8rem;
    border: 1px solid $green-color;
    border-radius: 50%;
    cursor: pointer;

    @media (min-width:768px) and (max-width: 1199px) {
      & {
        width: 1rem;
        height: 1rem;
    
      }
    }
  
    @media (min-width:1200px) and (max-width: 1800) {
      & {
        width: 2.3rem;
        height: 2.3rem;
        border: 2px solid $green-color;
      }
    }
  }
}

.slider-box {

  &-team{
    display: none;
    height: 50rem;
  }

  &-comment {
    display: none;
    height: 30rem;
  }
}

