<<<<<<< HEAD
// .slider {
//   margin: 0 auto;
// 	width: 80%;

// 	&__viewer {
// 		padding: 6rem 0;
//   	height: 550px;
//   	overflow: hidden;
// 		position: relative;

// 		&--group {
//   		height: 100%;
//   		position: relative;
//   		width: 100%;
// 		}
// 	}
// }

// .slide {
//   height: 100%;
// 	position: absolute;
// 	width: 100%;
// 	background-color: #fff;
	
// 	&:first-child {
// 		display: block;
// 	}
	
// 	&:nth-of-type(1) {
// 	}
	
	
// 	&:nth-of-type(2) {
// 	}
	
// 	&:nth-of-type(3) {
// 	}
// }

// .slide-buttons {
// 	position: absolute;
// 	left: 50%;
// 	bottom: 10%;
// 	transform: translate(-50%, -50%);
//   text-align: center;
// }

// a.slide_btn {
// 	display: inline-block;
// 	width: 1rem;
// 	height: 1rem;
// 	border: 1px solid $green-color;
// 	border-radius: 50%;
//   margin: 0 1rem;
//   -webkit-transition: all 0.4s ease-in-out;
//   -moz-transition: all 0.4s ease-in-out;
//   -ms-transition: all 0.4s ease-in-out;
//   -o-transition: all 0.4s ease-in-out;
//   transition: all 0.4s ease-in-out;
// }
=======
.slider {
  width: 80%;
  position: relative;

  @media (min-width:300px) and (max-width: 767px) {
    .slider {
      display: flex;
      flex-direction: column;
    }
  }

  &__radio {
    display: none;

    &--1 {
      &:checked ~ .slider-box--one {
        display: block;
      }

      &:checked ~ .slider__labels .slider__labels-item--first::after {
        background: $green-color;
      }
    }

    &--2 {
      &:checked ~ .slider-box--two {
        display: block;
      }

      &:checked ~ .slider__labels .slider__labels-item--second::after {
        background-color: $green-color;
      }
    }

    &--3 {
      &:checked ~ .slider-box--three {
        display: block;
      }

      &:checked ~ .slider__labels .slider__labels-item--third::after {
        background: $green-color;
      }
    }
  }
}

.slider__labels {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  @media (min-width:768px) and (max-width: 1199px) {
    & {
      bottom: 8%;
    }
  }

  @media (min-width:1200px) and (max-width: 1800) {
    & {
      bottom: 10%;
    }
  }

>>>>>>> master

  

  &-item::after {
    content: "";
    display: inline-block;
    margin: 0 1rem;
    width: .8rem;
    height: .8rem;
    border: 1px solid $green-color;
    border-radius: 50%;
    cursor: pointer;

    @media (min-width:768px) and (max-width: 1199px) {
      & {
        width: 1rem;
        height: 1rem;
    
      }
    }
  
    @media (min-width:1200px) and (max-width: 1800) {
      & {
        width: 2.3rem;
        height: 2.3rem;
        border: 2px solid $green-color;
    
      }
    }
  
  }
}

.slider-box {
  display: none;
  height: 50rem;

<<<<<<< HEAD
// .slide_btn.active, .slide_btn:hover {
// 	background-color: $green-color;
// 	cursor: pointer;
// }
=======
}
>>>>>>> master

