.team {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-family: $source-sans;

  &--box {
    text-align: center;
  }

  &__heading {
    margin-bottom: 3rem;
    font-size: 3rem;
  }

  &__slide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__img-box {
    width: 30%;
    height: 85%;
    overflow: hidden;

  }
  &__photo {
    width: 100%;
    height: 100%;
  }

  &__rate {
    color: $gray;
    text-align: right;


    &--name {
      font-size: 2.5rem;
      font-weight: 100;
      text-transform: capitalize;
    }

    &--position {
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    &--description {
      font-size: 1.2rem;
      margin-bottom: 2rem;

    }

    &--progress {
      font-size: 1.5rem;
      text-align: left;
      text-transform: uppercase;
    }

    &--skills {
      text-align: left;
    }
  }
  
}

.progress {
  margin-bottom: 1rem;
  font-size: .3rem;
  width: 100%;
  background-color: $dark-blue;
}