.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  font-family: $source-sans;
  padding: 6rem 0;


  &--box {
    text-align: center;
  }

  &__heading {
    margin-bottom: 3rem;
    font-size: 3rem;
  }

  &__slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50rem;
    padding: 7rem 0;

    @media (min-width:768px) and (max-width: 1199px) {
      & {
        padding: 5rem 0;
      }
    }

    @media (min-width:300px) and (max-width: 767px) {
      & {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
      }
    }
  }

  &__img-box {
    max-width: 27%;
    height: 100%;
    overflow: hidden;

    @media (min-width:768px) and (max-width: 1199px) {
      & {
        max-width: 45%;
        height: 90%;
      }
    }


    @media (min-width:300px) and (max-width: 767px) {
      & {
        display: none;
      }
    }
  }
  &__photo {
    width: 100% auto;
    height: 95%;
  }

  &__rate {
    color: $gray;
    text-align: right;
    
    &--box {
      width: 30%;

      @media (min-width:768px) and (max-width: 1199px) {
        & {
          width: 45%;
        }
      }
  

      @media (min-width:300px) and (max-width: 767px) {
        & {
          width: 90%;
          margin: auto;
        }
      }

    }

    &--name {
      font-size: 2.5rem;
      font-weight: 100;
      text-transform: capitalize;
      margin-bottom: 1rem;

      @media (min-width:300px) and (max-width: 767px) {
        & {
          text-align: center;
        }
      }
    }

    &--position {
      font-size: 1.5rem;
      font-style: italic;
      text-transform: uppercase;
      margin-bottom: 2rem;

      @media (min-width:300px) and (max-width: 767px) {
        & {
          text-align: center;
        }
      }

    }

    &--description {
      font-size: 1.4rem;
      margin-bottom: 2rem;
      text-align: right;

      @media (min-width:300px) and (max-width: 767px) {
        & {
          text-align: justify;
        }
      }

    }

    &--progress {
      font-size: 1.5rem;
      text-align: left;
      text-transform: uppercase;
      margin-bottom: 3rem;
    }

    &--skills {
      text-align: left;
    }
  }
  
}

