$open-sans: "Open Sans", sans-serif;
$roboto: "Roboto", sans-serif;
$source-sans: "Source Sans Pro", sans-serif;
$big-john: "big-john", sans-serif;

$gray: #81868e;
$green-color: #19bd9a;

$btn-color-white: #ffffff;
$btn-color-gray: #333b46;